/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-color: white;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-info {
  color: black;
  border-color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: Aqua;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: lightblue;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.form-group {
    background-color: cornflowerblue;
    font-family: Bahnschrift;
    color: black;
}

h1, h4, h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

card {
    margin-bottom: 5px;
    border: solid 2px black;
}

.card-img-top {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border-block: solid 2px blue;
}

.list-group-item {
    margin-bottom: 25px;
}
