@page "/"

<h1>Welcome to the world of animals in the water!</h1>

<div>
    <h3 style="font-size: x-large">
        Hier kan je bijhouden welke onderwaterdieren je hebt of in je bezit hebt.

    </h3>
    <div class="image-home">
        <img src="https://images.saatchiart.com/saatchi/985020/art/3755754/2825638-HSC00001-6.jpg" />
    </div>
</div>
